
@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin self-hover-focus {
  &,
  &:hover,
  &:focus {
    @content;
  }
}

@mixin hover-focus-active {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@mixin max-height($fs: 16, $lh: 20, $quant: 2) {
  font-size: $fs + px;
  line-height: ($lh/$fs);
  max-height: (($lh/$fs) * $quant + em);
  overflow: hidden;
  @if ($quant == 1) {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

@mixin placeholder($color: $input-placeholder-color) {
  // For Mozilla 15-17 placeholder color
  &:-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  // Firefox
  &::-moz-placeholder {
    color: $color;
    opacity: 1; // See https://github.com/twbs/bootstrap/pull/11526
  }
  // Internet Explorer 10+
  &:-ms-input-placeholder {
    color: $color;
  }
  // Safari and Chrome
  &::-webkit-input-placeholder {
    color: $color;
  }
}

@mixin nowrap() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// Transfer of long words to the next line
@mixin break-word() {
  overflow-wrap: break-word;//does not support IE, Firefox; is a copy of word-wrap
  word-wrap: break-word;
}

@mixin skip-font-styles() {
  font-weight: normal;
  font-style: normal;
}


@mixin svg() {
  content: '';
  display: inline-block;
  transition: $transition-default;
}

@mixin svg-load($name: '', $width: '', $height: '', $fill: '', $stroke: '') {
  background: svg-load($name, fill=$fill, stroke=$stroke) no-repeat;
  background-size: cover;
  width: $width;
  height: $height;
}