.select2-container {
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 100% !important;

  .select2-selection {
    display: block;
    @include form-control;
    user-select: none;

    .has-error & {
      border-color: $state-danger-text;

      &:focus {
        border-color: darken($state-danger-text, 10%);
      }
    }
  }

  // single select
  .select2-selection--single {
    cursor: pointer;

    .select2-selection__rendered {
      display: block;
      padding-right: 20px;
      @include nowrap;
    }

    .select2-selection__clear {
      position: relative;
      cursor: pointer;
      float: right;
      font-family: $font-b;
    }

    .select2-selection__placeholder {
      color: lighten($text-color, 0.7);
    }

    .select2-selection__arrow {
      height: 100%;
      position: absolute;
      top: 1px;
      right: 1px;
      width: 30px;

      b {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 13px;
        height: 8px;
        background-image: svg-load('select-arrow.svg', stroke=$brand-gray-9);
      }
    }
  }

  //multiple select
  .select2-selection--multiple {
    cursor: text;
    padding-top: 2px;
    padding-bottom: 1px;
    min-height: 4rem;

    .select2-selection__rendered {
      display: inline-block;
      @include nowrap;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        list-style: none;
      }
    }

    .select2-selection__clear {
      cursor: pointer;
      float: right;
      font-family: $font-b;
      margin-top: 5px;
      margin-right: 10px;
    }

    .select2-selection__choice {
      background-color: $brand-gray-4;
      border: 1px solid $input-border-color;
      border-radius: $border-radius-base;
      cursor: default;
      float: left;
      margin-right: 5px;
      margin-top: 5px;
      padding: 0 5px;
      @include nowrap;
      max-width: 100%;
    }

    .select2-selection__choice__remove {
      color: #999;
      cursor: pointer;
      display: inline-block;
      font-family: $font-b;
      margin-right: 2px;

      &:hover {
        color: #333;
      }
    }
  }

  .select2-search--inline {
    float: left;

    .select2-search__field {
      width: 0 !important;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      border: none;
      padding: 0;
      background: transparent;
      outline: 0;
      box-shadow: none;
      -webkit-appearance: textfield;

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }
  }

  .select2-search--dropdown {

    .select2-search__field {
      border: 1px solid $input-border-color;
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: $link-color;
    color: $brand-white;
  }

  .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
  }

  // open state
  &--open {

    .select2-dropdown {
      left: 0;
    }

    .select2-dropdown--above {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .select2-dropdown--below {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .select2-selection--single {

      .select2-selection__arrow {
        b {
          background-image: svg-load('select-arrow.svg', stroke=$link-color);
        }
      }
    }
  }

  //focus state
  &--focus {

    .select2-selection--multiple {
      outline: 0;
    }
  }

  //disabled state
  &--disabled {

    .select2-selection--single {
      background-color: #eee;
      cursor: default;

      .select2-selection__clear {
        display: none;
      }
    }

    .select2-selection--multiple {
      background-color: #eee;
      cursor: default;
    }

    .select2-selection__choice__remove {
      display: none;
    }
  }
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;

  > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
  }

  &__options {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__option {
    padding: 6px;
    user-select: none;

    &[aria-selected] {
      cursor: pointer;
    }

    &[role=group] {
      padding: 0;
    }

    &[aria-disabled=true] {
      color: $disabled-color;
    }

    &[aria-selected=true] {
      background-color: #ddd;
    }

    .select2-results__option {
      padding-left: 1em;

      .select2-results__group {
        padding-left: 0;
      }

      .select2-results__option {
        margin-left: -1em;
        padding-left: 2em;

        .select2-results__option {
          margin-left: -2em;
          padding-left: 3em;

          .select2-results__option {
            margin-left: -3em;
            padding-left: 4em;

            .select2-results__option {
              margin-left: -4em;
              padding-left: 5em;

              .select2-results__option {
                margin-left: -5em;
                padding-left: 6em;
              }
            }
          }
        }
      }
    }
  }
}

.select2-search--dropdown {
  display: block;
  padding: 4px;

  .select2-search__field {
    padding: 4px;
    width: 100%;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }

  &.select2-search--hide {
    display: none;
  }
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;

  // styles required for IE to work

  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

