.tabs
  i.png-star-big
  .tabs__inner
    img(src=require('./img/tabs_01.jpg') alt='mew')
  .tabs__icon
  br
  svg(class='icon icon--close')
    use(xlink:href="#close")
  svg(class='icon icon--twitter')
    use(xlink:href="#twitter")
  svg(class='icon icon--facebook')
    use(xlink:href="#facebook")
  svg(class='icon icon--wikipedia')
    use(xlink:href="#wikipedia")