//include ../../utils/svg-icon/index
.tabs
  i.png-star-big
  .tabs__inner
    img(src=require('./img/tabs_01.jpg') alt='mew')
  .tabs__icon
  br
  //+svg-icon(close)
  //+svg-icon(twitter)
  //+svg-icon(facebook)