.tabs {
  margin: 0;
  padding: 0;
  min-height: 100px;
  min-width: 100px;
  background-color: green;


  @media (max-width: $screen-lg-max) {
    background: yellow;
  }

  &__inner {

    @media (max-width: $screen-lg-max) {
      background: #e5e5e5;
    }
  }

  &__icon {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: svg-load('svgCss/close.svg', fill=#000, stroke=#e5e5e5);
  }
}