.h2 Text size
p.text-lg
  b big size
  br
  | Lorem ipsum dolor sit amet, consectetur.
p
  b  normal size
  br
  | Lorem ipsum dolor sit amet, consectetur.
p.text-sm
  b  small size
  br
  |  Lorem ipsum dolor sit amet, consectetur.
.h2 Text styles
p
  b bold
  br
  | normal
  br
  i cursive
hr
include ../../../components/utils/lorem/index