//
// Body text
//

.p,
p {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}

b,
strong {
  font-family: $font-b;
}

i {
  font-family: $font-i;
}

.text-lg {
  font-size: $font-size-lg;
}

.text-sm {
  font-size: $font-size-sm;
}

small,
.small {
  font-size: 80%; // Add the correct font size in all browsers
}

hr {
  box-sizing: content-box; // 1
  height: 0; // 1
  overflow: visible; // 2
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid $border-color-base;
}

mark,
.mark {
  background: $mark-bg;
}

// Links

a {
  color: $link-color;
  text-decoration: $link-decoration;
  background-color: transparent; // Remove the gray background on active links in IE 10.
  -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.
  cursor: pointer;
  transition: $transition-default;

  @include hover-focus {
    color: $link-color-hover;
    text-decoration: $link-decoration-hover;
  }

  @include hover-focus-active {
    outline: none;
  }

  // And undo these styles for placeholder links/named anchors (without href)
  // which have not been made explicitly keyboard-focusable (without tabindex).
  // It would be more straightforward to just use a[href] in previous block, but that
  // causes specificity issues in many other styles that are too complex to fix.
  // See https://github.com/twbs/bootstrap/issues/19402
  &:not([href]):not([tabindex]) {

    @include self-hover-focus {
      color: inherit;
      text-decoration: none;
    }
  }
}