@import "../form-utils/style";
@import "../input/style";
@import "../select/style";
@import "../checkbox/style";

.form {
  margin: 0;

  &__col {
    margin-bottom: 1.5rem;
  }

  &__validation {
    font-size: $input-font-size;

    .error {
      color: $state-danger-text;
    }

    .valid {
      color: $state-success-text;
    }
  }
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$form-grid-gutter-width / 2;
  margin-left: -$form-grid-gutter-width / 2;

  > .col,
  > [class*="col-"] {
    padding-right: $form-grid-gutter-width / 2;
    padding-left: $form-grid-gutter-width / 2;
  }
}