.test-component
  .test-component__icon
  .test-component__test
    i.png-star-big
    img(src='./images/tabs_01.jpg' alt='mew')
    img(src='./images/tabs_02.jpg' alt='mew')
    br
    +svg-icon('twitter')
    +svg-icon('facebook')
