.test-component {
  margin: 0;
  padding: 0;
  min-height: 100px;
  min-width: 100px;

  &:before {
    @include png;
    @include png-star-big;
  }

  @media (max-width: $screen-lg-max) {
    //background: yellow;
  }

  &__icon {

    &:before {
      @include svg;
      @include svg-load('test-icon.svg', 30px, 30px, '', #000);
    }

    &:hover {

      &:before {
        @include svg-load('test-icon.svg', 30px, 30px, '', #e5e5);
      }
    }
  }
}