.h2 Images with lazy loading
img(class='lazy' data-src='./images/lazyloadImage.jpg' alt='alt')
img(class='lazy' data-src='./images/lazyloadImage.jpg' alt='alt')
img(class='lazy' data-src='./images/lazyloadImage.jpg' alt='alt')