-
  var data = [
  {
    title: 'Lorem ipsum dolor sit amet',
    cost1: 'Basic',
    cost2: '50',
    sum_text: 'lorem ipsum dolor sit amet, consectetur adipisicing elit'
  },
  {
    title: 'Lorem ipsum',
    cost1: '1',
    cost2: '420',
    sum_text: 'lorem ipsum dolor sit amet, consectetur adipisicing elit'
  },
  {
    title: 'Lorem ipsum',
    cost1: '1',
    cost2: '425',
    sum_text: 'lorem ipsum dolor sit amet'
  },
  {
    title: 'Lorem ipsum Lorem ipsum Lorem ipsum',
    cost1: '1',
    cost2: '420',
    sum_text: 'lorem ipsum dolor sit amet, consectetur adipisicing elit lorem ipsum dolor sit amet, consectetur adipisicing elit'
  }
  ];
.h2 Adaptive table
.table-wrap.table-adaptive
  table
    thead
      tr
        th Service name
        th Internet bank
        th Cart
        th Summary
    tbody
      for item in data
        tr
          td #{item.title}
          td #{item.cost1}
          td #{item.cost2}
          td #{item.sum_text}