extends ../layouts/main
block pagePROPS
    - PROPS.pageTitle = 'Blog page';
    - PROPS.layout = 'wide';
block content
    div
        a.link(href='#') blog
    //include ../../components/core/tabs/index
    svg(class='close-ic')
        use(xlink:href="#close")

