mixin checkboxradio(data)
  -
    var className = data.className !== undefined ? data.className : '';
    var attr = {};
    if (data.type === undefined) data.type = 'checkbox';
    attr.type = data.type;
    if (data.id !== undefined) attr.id = data.id;
    if (data.name !== undefined) attr.name = data.name;
    else if (data.id !== undefined) attr.name = attr.id;
    if (data.value !== undefined) attr.value = data.value;
    if (data.required !== undefined) attr.required = data.required;
    if (data.disabled !== undefined) attr.disabled = data.disabled;
    if (data.valid_message !== undefined) attr.valid_message = data.valid_message
  .checkboxradio(class=data.type)
    input.checkboxradio__input(class=className)&attributes(attr)
    label.checkboxradio__label(for=data.id)
      .checkboxradio__box
      - var text = data.text !== undefined ? data.text : '';
      span.checkboxradio__text #{text}
