h2 List styles
ul.list
  li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero.
  li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero. Ab, consectetur iusto obcaecati officiis placeat sequi ullam veritatis? Aliquam, porro? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero. Ab, consectetur iusto obcaecati officiis placeat sequi ullam veritatis? Aliquam, porro? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    ul
      li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero.
      li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero.
  li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero. Ab, consectetur iusto obcaecati officiis placeat sequi ullam veritatis? Aliquam, porro? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
include ../../../components/utils/lorem/index
ol.list(start='2')
  li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero.
  li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero.
  li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    ol
      li Lorem ipsum dolor sit amet, consectetur adipisicing elit.  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      li Lorem ipsum dolor sit amet.
  li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero.
include ../../../components/utils/lorem/index