.h2 Simple table
.table-wrap
  table
    thead
      tr
        th №
          span.note *
        th Parameters name
        th Data
    tbody
      tr
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque magnam mollitia nam quibusdam similique sint veritatis! Accusantium nostrum qui rerum? Animi consectetur consequuntur enim, iste nihil quibusdam vitae voluptas?
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque magnam mollitia nam quibusdam similique sint veritatis!
      tr
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque magnam mollitia nam quibusdam similique sint veritatis! Accusantium nostrum qui rerum? Animi consectetur consequuntur enim, iste nihil quibusdam vitae voluptas?
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque magnam mollitia nam quibusdam similique sint veritatis! Accusantium nostrum qui rerum? Animi consectetur consequuntur enim, iste nihil quibusdam vitae voluptas?
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque magnam mollitia nam quibusdam similique sint veritatis!
      tr
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
.h2 Responsive table full bordered
.table-wrap.table-responsive
  table.full-border
    thead
      tr
        th №
          span.note *
        th Parameters name
        th Data
    tbody
      tr
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque magnam mollitia nam quibusdam similique sint veritatis! Accusantium nostrum qui rerum? Animi consectetur consequuntur enim, iste nihil quibusdam vitae voluptas?
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque magnam mollitia nam quibusdam similique sint veritatis!
      tr
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque magnam mollitia nam quibusdam similique sint veritatis! Accusantium nostrum qui rerum? Animi consectetur consequuntur enim, iste nihil quibusdam vitae voluptas?
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque magnam mollitia nam quibusdam similique sint veritatis! Accusantium nostrum qui rerum? Animi consectetur consequuntur enim, iste nihil quibusdam vitae voluptas?
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque magnam mollitia nam quibusdam similique sint veritatis!
      tr
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.