// =====================================
// Fonts
// =====================================

$_font-family-sans-serif: Helvetica, Arial, sans-serif;

$font-r: Roboto-Regular, $_font-family-sans-serif;
$font-b: Roboto-Bold, $_font-family-sans-serif;
$font-i: Roboto-Italic, $_font-family-sans-serif;
$font-l: Roboto-Light, $_font-family-sans-serif;
$font-m: Roboto-Medium, $_font-family-sans-serif;

// =====================================
// Grid
// =====================================

$enable-grid-classes:               true;
$grid-columns:                      12;
$grid-gutter-width:                 20px;

$screen-xl-min:                     1220px;
$container-xl:                      1160px + $grid-gutter-width;

$screen-lg-max:                     ($screen-xl-min - .02);
$screen-lg-min:                     992px;
$container-lg:                      960px;

$screen-md-max:                     ($screen-lg-min - .02);
$screen-md-min:                     768px;
$container-md:                      720px;

$screen-sm-max:                     ($screen-md-min - .02);
$screen-sm-min:                     540px;
$container-sm:                      540px;

$screen-xs-max:                     ($screen-sm-min - .02);
$screen-xs-min:                     0;

$site-min-width:                    300px;
$content-max-width:                 1200px;
$site-max-width:                    1920px;

$grid-breakpoint-min:               $screen-lg-min;
$grid-breakpoint-max:               $screen-md-max;

:export {
  screen_xs_min: $screen-xs-min;
  screen_sm_min: $screen-sm-min;
  screen_md_min: $screen-md-min;
  screen_lg_min: $screen-lg-min;
  screen_xl_min: $screen-xl-min;
  screen_xs_max: $screen-xs-max;
  screen_sm_max: $screen-sm-max;
  screen_md_max: $screen-md-max;
  screen_lg_max: $screen-lg-max;
  container_sm: $container-sm;
  container_md: $container-md;
  container_lg: $container-lg;
  container_xl: $container-xl;
}

// =====================================
// Colors
// =====================================

// brands
$brand-1:                           #3a71c0;
$brand-1-active:                    #1570ae;
$brand-2:                           #074396;
$brand-2-active:                    #084d96;
$brand-3:                           #57a801;
$brand-3-active:                    #438101;
$brand-accent:                      #ebac40;
$brand-accent-active:               #e09618;

$brand-success:                     #28a745;
$brand-info:                        #17a2b8;
$brand-warning:                     #ffc107;
$brand-danger:                      #dc3545;

$brand-white:                       #ffffff;
$brand-gray-1:                      #f6f8f9;
$brand-gray-2:                      #d6d6d6;
$brand-gray-3:                      #dee2e6;
$brand-gray-4:                      #e5e5e5;
$brand-gray-5:                      #adb5bd;
$brand-gray-6:                      #6c757d;
$brand-gray-7:                      #495057;
$brand-gray-8:                      #343a40;
$brand-gray-9:                      #212529;
$brand-black:                       #000000;

$body-bg-color:                     $brand-white;
$body-bg-outer-color:               $brand-gray-4;

$headings-color:                    $brand-black;
$text-color:                        $brand-gray-8;
$text-footer-color:                 $brand-gray-6;
$disabled-color:                    $brand-gray-2;

$link-color:                        $brand-1;
$link-color-hover:                  $brand-2;
$link-color-active:                 $brand-1-active;
$link-color-active-hover:           $brand-2-active;

$border-color-base:                 $brand-gray-4;

$state-success-text:                lighten($brand-success, 10%);
$state-success-bg:                  lighten($brand-success, 29%);
$state-danger-text:                 $brand-danger;
$state-danger-bg:                   lighten($brand-danger, 29%);

$caption-color:                     $brand-gray-6;

$input-bg:                          $brand-white;
$input-color:                       $text-color;
$input-border-color:                $brand-gray-5;
$input-focus-border-color:          $brand-1;
$input-error-border-color:          $brand-danger;
$input-placeholder-color:           $caption-color;

$mark-bg:                           #FFEAB9;

// =====================================
// Typography
// =====================================

$font-family-base:                  $font-r;

$font-size-root:                    10px;
$font-size-base:                    1.6rem; // Assumes the browser default, typically `16px`
$font-size-lg:                      2.0rem;
$font-size-sm:                      1.4rem;
$font-size-xs:                      1.2rem;

$line-height-base:                  1.35;

// Headings
$headings-margin-bottom:            0.5rem;
$headings-font-family:              $font-m;
$headings-line-height:              1.1;

$font-size-h1:                      4.2rem;
$font-size-h1-small:                3.8rem;
$font-size-h2:                      3rem;
$font-size-h3:                      2.4rem;
$font-size-h4:                      2rem;
$font-size-h5:                      1.6rem;
$font-size-h6:                      1.4rem;

$line-height-h1:                    1.1;
$line-height-h1-small:              1.1;
$line-height-h2:                    1.2;
$line-height-h3:                    1.3;
$line-height-h4:                    1.3;
$line-height-h5:                    1.3;
$line-height-h6:                    1.3;

$head-margin-h1:                    1.1em 0 .5em;
$head-margin-h1-small:              1.1em 0 .5em;
$head-margin-h2:                    1.3em 0 .5em;
$head-margin-h3:                    1.25em 0 .5em;
$head-margin-h4:                    1.25em 0 .5em;
$head-margin-h5:                    1.25em 0 .5em;
$head-margin-h6:                    1.25em 0 .5em;

// Paragraph
$paragraph-margin-bottom:           .7em;

// Links
$link-decoration:                   none;
$link-decoration-hover:             none;
$transition-default:                all .35s ease;

// =====================================
// forms
// =====================================
$input-font-size:                   1.5rem;

$input-line-height:                 1.5;

// =====================================
// z-index
// =====================================

$zindex-dropdown:                   1000;
$zindex-modal-backdrop:             1040;
$zindex-modal:                      1050;
$zindex-popover:                    1060;
$zindex-tooltip:                    1070;

// =====================================
// Decorates
// =====================================

$b-shadow:                          0 2px 9px 1px rgba(0, 0, 0, 0.13);
$b-shadow-hover:                    0 4px 14px 2.2px rgba(0, 0, 0, 0.13);
$border-radius-base:                3px;